/* Trang cá nhân */
.page__photo {
    padding: 15px 15px 6px 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    font-size: 12px;
}

div .page__avatar {
    text-align: center;
    border-radius: 2px;
}

.page__avatar {
    max-height: 500px;
    height: auto!important;
    height: 500px;
    overflow: hidden;
}

.page__avatar a img{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #2a5885;
}

.page__avatar__wrap {
    position: relative;
    overflow: hidden;
}

.page__avatar__img{
    border: 0;
    color: transparent;
}

.page__avatar__img{
    background-image: contain;
    vertical-align: top; 
    max-height: 200px;
    height: auto;
    border-radius: 2px;
}

.page__load__avatar{
    position: absolute;
    width: 100%;
    margin-top: -34px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    color: #2a87ba;
}

.page__load__avatar:hover {
    color: #2a87ba;
    text-decoration: underline;
}

.page__actions {
    height: 30px;
    margin-top: 10px;
    text-align: center;
    padding: 0 16px;
    border-radius: 2px;
    background-color: #e5ebf1;
}

.page__actions__button {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    color: #536a80;
}

.page__actions__button:hover {
    color: #536a80;
}

.page__actions:hover {
    background-color: #dae2ea;
}

.page__actions__expanded {
    margin-top: 20px;
}

.page__actions__item {
    align-items: center;
    height: 36px;
    font-size: 15px;
    line-height: 36px;
    text-decoration: none;
    color: #626d7a;
    padding: 0 16px;
    margin: 0 -15px;
}

.page__actions__icon {
    font-size: 17px;
}

.page__actions__item:hover {
    color: #818c99;
    background-color: #f5f6f8;
}

.page__info {
    width: 100%;
    position: relative;
    border-radius: 2px;
    background-color: #fff;
    padding: 15px 15px 6px 15px;
}

.page__top {
    padding-bottom: 12px;
    border-bottom: 1px solid #dce1e6;
}

.page__online {
    position: absolute;
    top: 25px;
    right: 20px;
    color: #a5a5a5;
    font-size: 13px;
    line-height: 10px;
}

.page__name {
    font-size: 22px;
    font-weight: 400;
    padding-left: 4px;
    margin-bottom: 0;
}

.page__status a {
    display: block;
    font-size: 13px;
    color: #a5a5a5;
    padding-left: 4px;
    text-decoration: none;
}

.page__status:hover a {
    color: #a5a5a5;
    border-radius: 2px;
    background-color: #fafafa;
}

.page__info__short {
    padding-top: 12px;
    line-height: 150%;
}

.page__info__row {
    display: flex;
    padding-left: 4px;
    
}

.label {
    width: 165px;
    color: #818c99;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 150%;
}

.labeled a{
    color: #2a5899;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
}

.labeled a:hover {
    color: #2a5899;
    text-decoration: underline;
}

.page__more__info{
    height: 30px;
    margin: 10px 0 2px;
    border-radius: 4px;
}

.page__label {
    text-decoration: none;
}

.page__label span{
    display: block;
    width: 100%;
    color: #2a5899;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.page__label:hover span{
    color: #2a5899;
    background-color: #f5f6f8;
}

.page__camera {
    width: 100%;
    height: 72px;
    border-radius: 2px;
    background-color: #fff;
}

.page__camera__button {
    display: block;
    position: relative;
    color: #2a5885;
    font-size: 13px;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    padding: 28px 0 28px 230px;

}

.page__camera__icon {
    position: absolute;
    font-size: 25px;
    color: #4e6c8a;
    top: 17px;
    left: 196px;
    opacity: 0.5;
}

.page__camera__button:hover{
    color: #2a5885;
}

.page__camera__button:hover .page__camera__icon {
    opacity: 1;
}

.wall__module {
    border-radius: 2px;  
    background-color: #fff;
}

.wall__module__h2 {
    height: 45px;
    padding: 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #dce1e6;
}

.ul__tabs{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: start;
}

.wall__label {
    color: #626d7a;
    font-size: 13px;
    line-height: 15px;
    margin: 0 4px -1px;
    padding: 16px 6px 13px;
}

.wall__label:nth-child(1) {
    color: #000;
    border-bottom: 2px solid #5181b8;
}

.wall__module__posts {
    padding: 36px 20px;
    text-align: center;
}

.no__posts {
    position: relative;
    height: 118px;
    line-height: 190px;
    color: #656565;
}

.no__posts__img {
    position: absolute;
    top: 0;
    left: 215px;
}

.post__header {
    display: flex;
    padding: 15px 20px 0;
}

.post__header--img img{
    display: block;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 11px;
}

.post__header__info {
    padding-top: 8px;
}

.post__header__name {
    display: block;
    color: #1759af;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    text-decoration: none;
}

.post__header__name:hover {
    text-decoration: underline;
}

.post__header__timer a{
    color: #818e9c;
    font-size: 12px;
    text-decoration: none;
}

.post__header__timer:hover {
    text-decoration: underline;
}

.post__text--img {
    width: 100%;
    padding: 8px 20px 0;
}

.post__images img{
    width: 100%;
}

.likes__buttn {
    padding: 0 20px;
}

.likes_cons {
    display: flex;
    padding: 12px 0;
    align-items: center;
    position: relative;
}

.buttn__icon {
    color: #99a2ad;
    padding: 4px 12px;
    margin-right: 10px;
    border-radius: 45%;
    background-color: #f0f2f5;
}

.buttn__icon:hover {
    cursor: pointer;
}

.icon--item {
    font-size: 20px;
    line-height: 24px;
}