/* Trang News */
/* Phần đầu */
.navbar-header {
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-right: 140px;
}

.header__search {
    display: flex;
    align-items: center;
    height: 32px;
    width: 230px;
    background-color: #edeef0;
    border-radius: 8px;
    padding-left: 10px;
}

.header__search-input {
    background-color: #edeef0;
    outline: none;
    border: 0;
    height: 32px;
}

.header__notifly {
    font-size: 22px;
    font-weight: 400;
    padding: 9px 10px;
    cursor: pointer;
    color: #abb3bc;
    border: 0;
    background: 0 0;
    margin-top: 0;
    margin-bottom: 0;
}

.header__notifly:hover {
    color: #abb3bc;
    background-color: #f5f6f8;
}

.header__music {
    font-size: 22px;
    font-weight: 400;
    padding: 9px 10px;
    cursor: pointer;
    color: #abb3bc;
    border: 0;
    background: 0 0;
    margin-top: 0;
    margin-bottom: 0;
}

.header__music:hover {
    color: #abb3bc;
    background-color: #f5f6f8;
}

.header__app {
    font-size: 22px;
    padding: 9px 10px;
    cursor: pointer;
    color: #abb3bc;
    border: 0;
    background: 0 0;
    margin-top: 0;
    margin-bottom: 0;
}

.header__app:hover {
    color: #abb3bc;
    background-color: #f5f6f8;
}

.header__camera {
    display: block;
    padding: 9px 5px 9px 9px;
    cursor: pointer;
    color: #abb3bc;
    border: 0;
    background: 0 0;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.header__camera:hover {
    color: #abb3bc;
    background-color: #f5f6f8;
}

.header__camera--img {
    width: 32px;
    height: 32px;
    margin: 0;
    border-radius: 50%;
}

.header__camera--icon {
    font-size: 10px;
}

.camera--item {
    display: flex;
    width: 254px;
    margin: 0 12px 6px;
    border-radius: 4px;
    background-color: #f0f2f5;
    flex-direction: column;
    overflow: hidden;
}

.camera__avatar{
    display: flex;
    width: 100%;
    height: 75px;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 10px 16px;
}

.camera__avatar:hover {
    background-color: #e7e9eb;
}

.camera--img {
    width: 40px;
    height: 40px;
    margin: 10px 0 0;
    border-radius: 50%;
}

.camera--text {
    line-height: 20px;
    padding-left: 5px;
    color: #424243;
}

.camera--text span:last-child {
    font-size: 14px;
}

.camera__button {
    display: flex;
    font-size: 12px; 
}

.camera__button-link {
    padding: 10px 16px;
    text-decoration: none;
    flex-grow: 1;
}

.camera__button-link:hover {
    background-color: #e7e9eb;
}

.camera__button-link:first-child {
    border-right: 1px solid #ccc;
}

.camera__button-label{
    display: block;
    color: #959eaa;
}

.dropdown-item:active {
    
    background-color: #c7cacc;
}

/* Phần thân trái */
.list__row {
    list-style: none;
    padding: 0;
    border-radius: 4px;
}

.list__item:hover a{
    background-color: #e5e7eb;
    border-radius: 5px;
    color: #000;
}

.list__wall {
    margin: 10px 0 0 30px;
    padding-top: 9px;
    border-top: 1px solid #dce1e6;
}

.list-item__row {
    text-decoration: none;
    line-height: 30px;
    height: 30px;
    width: 150px;
    color: #000;
    align-items: center;
    font-size: 14px;
    padding-left: 4px;
}

.list-item__icon {
    color: #5181b8;
    font-size: 16px;
    margin-right: 6px;
}

.list__menu-item {
    padding: 16px 16px 0 2px;
    border-top: 1px solid #dce1e6;
    margin-top: 20px;
}

.list__menu-link {
    padding-right: 10px;
    text-decoration: none;
    color: #c5c5c5;
    font-size: 12px;
}

.list__menu-link:hover {
    color: #c5c5c5;
    text-decoration: underline;
}

/* Phần giữa */
.submit__post {
    align-items: center;
    width: 100%;
    height: 52px;
    background-color: #fff;
    border-radius: 2px;
}

.submit__post--img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 20px ;
}

.submit__post--tools {
    flex: 1;
    font-size: 14px;
    padding: 14px 20px 16px 12px;
    color: #9a9a9a;
    cursor: text;
}

.submit__post--media a{
    text-decoration: none;
    padding-right: 14px;
    font-size: 16px;
    color: #a5acb6;
}

.submit__sitposting {
    position: relative;
}

.submit__sitposting a{
    text-decoration: none;
    font-size: 15px;
    color: #a5acb6;
    margin-left: 17px;
}

.submit__wall {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 12px;
    border-left: 1px solid #a5acb6;
}

.submit__lock{
    text-decoration: none;
    font-size: 15px;
    color: #a5acb6;
    margin-left: 12px;
}

.submit__lock:hover {
    color: #a5acb6;
}

.post__stories {
    width: 100%;
    height: 233px;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}

.post__stories:hover 
.post__stories--settings a{
    opacity: 1;
}

.post__stories:hover .post__stories__arrow--right {
    opacity: 1;
}

.post__stories--label {
    padding: 17px 0 0 20px;
    font-size: 14px;
    line-height: 15px;
}

.post__stories--settings a{
    margin-right: 20px;
    text-decoration: none;
    color: #626d7a;
    font-size: 14px;
    line-height: 15px;
    opacity: 0;
}

.post__stories--settings:hover a {
    text-decoration: underline;
    color: #626d7a;
}

.post__stories__wrap {
    position: relative;
    height: 87%;
    padding: 17px 0 14px;
    overflow: hidden;
    flex-wrap: nowrap;
}

.post__stories__arrow--right {
    background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%20width%3D%2248%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m0%200h48v48h-48z%22%2F%3E%3Cg%20fill-rule%3D%22nonzero%22%3E%3Cpath%20d%3D%22m17.859%2014.797a3.5%203.5%200%201%201%205.282-4.594l10%2011.5a3.5%203.5%200%200%201%200%204.594l-10%2011.5a3.5%203.5%200%201%201%20-5.282-4.594l8.003-9.203z%22%20fill%3D%22%23000%22%20opacity%3D%22.08%22%2F%3E%3Cpath%20d%3D%22m18.613%2014.14a2.5%202.5%200%200%201%203.774-3.28l10%2011.5a2.5%202.5%200%200%201%200%203.28l-10%2011.5a2.5%202.5%200%200%201%20-3.774-3.28l8.574-9.86z%22%20fill%3D%22%23000%22%20fill-opacity%3D%22.12%22%2F%3E%3Cpath%20d%3D%22m19.368%2013.484a1.5%201.5%200%200%201%202.264-1.968l10%2011.5a1.5%201.5%200%200%201%200%201.968l-10%2011.5a1.5%201.5%200%200%201%20-2.264-1.968l9.144-10.516z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E) no-repeat center;
    border-top: 71px solid transparent;
    border-bottom: 70px solid transparent;
    cursor: pointer;
    position: absolute;
    height: 26px;
    width: 48px;
    z-index: 2;
    opacity: 0;
    right: 0;
}

.post__stories__list {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    white-space: nowrap;
}

.post__stories--item {
    display: inline-block;
    position: relative;
    width: 94px;
    height: 100%;
    overflow: hidden;
    margin: 0 3px;
    border-radius: 8px;
    background: no-repeat center/cover;
    background-clip: border-box;
}

.post__stories--item:first-child {
    margin-left: 20px;
}

.post__stories--item .post__stories--preview {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.post__stories--item::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 170px;
    opacity: .48;
    content: '';
    background-color: rgba(0, 0, 0, 0.11);
}

.post__stories--add {
    display: block;
    border-radius: 50%;
    margin: 0 auto 4px;
    background: #fff url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%2F%3E%3Cpath%20d%3D%22m11%202.5v9.5h-9.5a.5.5%200%201%200%200%201h9.5v9.5a.5.5%200%201%200%201%200v-9.5h9.5a.5.5%200%201%200%200-1h-9.5v-9.5a.5.5%200%201%200%20-1%200z%22%20stroke%3D%22%236290ca%22%20stroke-width%3D%222%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E) no-repeat center/16px;
    position: relative;
    width: 34px;
    height: 34px;
}

.post__stories--item .post__stories--preview .post__stories--name {
    margin-bottom: 4px;
    padding: 7px 8px;
    text-align: center;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    line-height: 14px;
    width: 100%;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    color: #e7e8ec;
}

/* Phần thân phải */
.narrow__column__wrap {
    width: 100%;
    background-color: #fff;
    padding: 6px 0;
    border-radius: 2px;
}

.narrow__column--item {
    display: block;
    height: 32px;
    text-decoration: none;
    color: #616885;
    font-size: 14px;
    line-height: 32px;
    padding: 0 5px 0 20px ;
}

.narrow__column--item:hover {
    color: #616885;
    background-color: #f2f3f5;
}

.narrow__column--item:nth-child(1) {
    color: #000;
    font-weight: 500;
    border-left: 2px solid #5181b8;
    background-color: #f2f3f5;
}

.narrow__wall {
    margin: 10px 0 0 30px;
    padding-top: 9px;
    border-top: 1px solid #dce1e6;
}

.narrow__column__turn-on {
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    font-size: 14px;
    line-height: 41px;
    padding-left: 20px;
}

.turn-on-off {
    width: 28px;
    height: 9px;
    margin: 16px 16px 16px 0;
    border-radius: 45px;
    background-color: #dce1e6;
    cursor: pointer;
    float: right;
}
